<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper z-depth-5">
                <div class="nav-div">
                    <ul class="nav-ul">
                        <li class="nav-li"><span class="3d">Weather App</span></li>
                    </ul>
                </div>
            </div>
           
        </nav>
    </div>
</header>